$grid-small: 480px;
$grid-medium: 768px;
$grid-large: 992px;

$grid-nav-small: 34px;
$grid-nav-medium: 42px;
$grid-nav-large: 52px;

$grid-control-small: 24px;
$grid-control-medium: 30px;
$grid-control-large: 52px;

$grid-main-nav-small: 35px;
$grid-main-nav-medium: 47px;
$grid-main-nav-large: 71px;
