@import "./../../../styles/rules";
@import "./../../../styles/responsive";

.picture.area {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.picture.loading {
  background-color: rgba(255, 255, 255, 0);
  display: none;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  transition: background-color 1s ease-in-out;
  width: 100%;
  z-index: 2;

  &.displayed {
    display: block;
  }

  &.visible {
    background-color: rgba(255, 255, 255, 1);
  }

  p {
    @extend %vertical-center;
    height: 86px;
    opacity: 0;
    transition: opacity .25s ease-in-out;
    width: 100%;

    &.visible {
      opacity: 1;
    }
  }

  p span {
    display: block;
    font-family: "Open Sans", sans-serif;
    text-align: center;

    &.progress {
      color: #26505f;
      font-size: 42px;
    }

    &.label {
      color: #2a7e99;
      font-size: 16px;
    }
  }

}

.picture.content {
  display: none;
  height: 100%;
  width: 100%;
  z-index: 1;

  &.displayed {
    display: block;
  }

  img {
    width: 100%;
  }
}

.picture.content .viewer {
  &.container {
    background-color: #171914;
    height: 100%;
    position: relative;
    width: 100%;
  }

  &.content {
    position: relative;
  }

  &.image {
    @extend %no-select;
    width: 100%;
  }

  &.label {
    cursor: pointer;
    display: none;
    position: absolute;
    transform: translate(-21px, 0px);
    width: 30px;
  }

  &.label>.icon {
    transform: rotate(0deg);
    transform-origin: 50% 5%;
    transition: transform .3s ease-in-out;
  }

  &.label.left>.icon {
    transform: rotate(-45deg);
  }

  &.label.right>.icon {
    transform: rotate(45deg);
  }

  &.label.active {
    display: block;

    &>.icon .label {
      stroke: #00c5cd;
      fill: white;
    }
  }

  &.content.visible .label {
    display: block;
  }

  @media (min-width: $grid-small) and (min-height: $grid-small) {
    &.label {
      width: 36px;
    }
  }

  @media (min-width: $grid-medium) and (min-height: $grid-medium) {
    &.label {
      width: 42px;
    }
  }

}