@import "./../../../styles/rules";
@import "./../../../styles/responsive";

.game-container>.test .config-page {
  @extend %scrollbar;
  overflow: auto;
  padding: 12px;

  section {
    margin: 22px 0px;
    text-align: center;

    &>div {
      display: inline-block;
      text-align: center;
    }
  }
}

.game-container>.test .config-page section.settings {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;

  @media (min-width: $grid-small) and (min-height: $grid-small) {
    font-size: 17px;
  }

  @media (min-width: $grid-medium) and (min-height: $grid-medium) {
    font-size: 18px;
  }

  &>div {
    border-bottom: solid 1px #00abbe;
    padding-bottom: 22px;
    text-align: left;
  }

  &>div>div {
    margin: 14px 0px;
  }

  p {
    margin-bottom: 6px;
  }

  .selection-list {
    padding-left: 16px;

    &>li {
      margin: 6px;
    }

    &>li>span {
      vertical-align: top;
    }
  }

  .setting-buttons {
    display: inline-block;
    vertical-align: middle;
  }

  button.setting-button {
    font-size: 18px;
    min-width: 30px;
    vertical-align: top;

    span {
      padding: 2px 3px;
    }
  }

  .output {
    background-color: #f5f5f5;
    border-radius: 6px;
    box-shadow: 1px 1px 3px 0px rgba(122, 122, 122, 0.4);
    color: #707373;
    display: inline-block;
    font-size: 20px;
    margin: 0px 8px;
    min-width: 35px;
    padding: 0px 8px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(122, 122, 122, 0.5);
    vertical-align: middle;
  }
}

.game-container>.test .config-page section.warnings .warning {
  display: none;
  text-align: center;

  &.visible {
    display: block;
  }

  &>.prompt {
    border: solid 1px #f1664d;
    display: inline-block;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    margin: 8px 0px;
    max-width: 520px;
    padding: 8px;
    padding-left: 30px;
    position: relative;
    text-align: justify;

    .icon {
      @extend %vertical-center;
      left: 4px;
    }
  }

  &>.controls {
    margin: 8px 0px;
  }
}