@import "./../../../styles/rules";
@import "./../../../styles/grid";
@import "./../../../styles/responsive";

$hint-margin: 14px;

%hint-button {
  @extend %vertical-center;
  background-color: #00c3cc;
  border-radius: 50%;
  box-shadow: 2px 2px 4px rgba(122, 122, 122, 0.3);
  cursor: pointer;
  height: 100%;
  left: -100%;
  overflow: hidden;
  right: -100%;
  transition-duration: 0.25s;
  transition-property: width, height, background-color, padding;
  transition-timing-function: cubic-bezier(0.75, -0.15, 0, 2);
  width: 100%;
}

.hint-box,
.keyboard-box {
  bottom: 24px;
  height: 0px;
  left: $hint-margin;
  position: absolute;
  width: calc(100% - #{$hint-margin * 2});
}

.hint-box,
.keyboard-box {
  z-index: 5;
  &.displayed{
    z-index: 6;
  }
}

.keyboard-box {
  left: auto;
  z-index: 5;

  @include media(large, andlarger) {
    right: 22px;
  }

  @include media(medium, andsmaller) {
    right: 16px;
  }
}

.hint-box .hint-button,
.keyboard-box .keyboard-button {
  bottom: 0px;
  height: 30px;
  left: 0px;
  position: absolute;
  width: 30px;
  z-index: 7;

  & > div {
    @extend %hint-button;
  }

  &:hover > div {
    background-color: #00d8d9;
    height: 40px;
    padding: 4px;
    width: 40px;
  }

  .sprite {
    position: relative;
    top: 0%;
    transition: top 0.5s 0.05s cubic-bezier(1, -1.45, 0, 1.95);
    width: 100%;
    .open {
      padding: 4px;
    }
    .close {
      padding: 8px;
    }
  }

  .icon {
    display: block;
    fill: white;
    height: 100%;
    width: 100%;
  }
}

.keyboard-box .keyboard-button {
  left: auto;
  right: 0px;
}

.hint-box.visible,
.keyboard-box.visible {
  .hint-dialog,
  .keyboard-dialog {
    bottom: 0px;
    opacity: 1;
  }
  .sprite {
    top: -100%;
  }
}

.hint-box.displayed,
.keyboard-box.displayed {
  .hint-dialog,
  .keyboard-dialog {
    display: inline-block;
  }
}

.hint-box .hint-dialog,
.keyboard-box .keyboard-dialog {
  background-color: white;
  border-radius: 16px;
  bottom: -20px;
  box-shadow: 2px -2px 12px rgba(122, 122, 122, 0.7);
  display: none;
  font-family: "Roboto", sans-serif;
  height: auto;
  left: 0px;
  max-width: 480px;
  min-width: 140px;
  opacity: 0;
  padding: 0px 0px 32px 32px;
  position: absolute;
  transition-delay: 0.25s, 0.05s;
  transition-duration: 0.25s, 0.5s;
  transition-property: opacity, bottom;
  transition-timing-function: ease-out, cubic-bezier(1, -1.45, 0, 1.95);
  width: auto;
  z-index: 6;
}

.hint-box .hint-dialog .find-occurrence {
  display: none;
  height: 30px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 30px;

  & > div {
    @extend %hint-button;
    height: 0px;
    opacity: 0;
    padding: 0px;
    width: 0px;
  }

  .icon {
    fill: white;
    height: 100%;
    stroke: white;
    width: 100%;
  }
}

.hint-box .hint-dialog .find-occurrence {
  &.displayed {
    display: block;
  }

  &.visible > div {
    height: 100%;
    opacity: 1;
    padding: 4px;
    width: 100%;
  }

  &.visible:hover > div {
    background-color: #00d8d9;
    height: 40px;
    padding: 8px;
    width: 40px;
  }
}

.hint-box .hint-dialog .word-type {
  border-top: solid 1px #b4b4b4;
  bottom: 0px;
  color: #9b9b9b;
  font-size: 16px;
  font-style: italic;
  height: 26px;
  line-height: 26px;
  margin: 3px 0px;
  overflow: hidden;
  padding-left: 12px;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 40px);
}

.hint-box .hint-dialog .list {
  height: 100%;
  width: 100%;
}

.hint-box .hint-dialog .list .card {
  display: none;
  height: 100%;
  width: 100%;
  &.active {
    display: block;
  }
}

.hint-box .hint-dialog .meaning-list {
  padding: 8px;
  padding-right: 16px;
  & > li {
    border: dotted 1px #9c9c9c;
    border-radius: 4px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    padding: 2px 8px;
  }
}

.hint-box .hint-dialog .definition-list {
  padding: 8px;
  padding-right: 16px;
  & > li {
    font-size: 17px;
    line-height: 1.25;
    text-align: justify;
  }
  & > li:not(:last-child) {
    margin-bottom: 12px;
  }
  & > li:not(:only-child) {
    list-style-type: decimal;
    margin-left: 12px;
  }
  [data-keyword] {
    letter-spacing: 2px;
  }
}

.hint-box .hint-dialog .image-slider {
  padding-right: 12px;

  .image-navigation {
    &:empty + .image-element {
      border-top-right-radius: 12px;
      margin-top: 8px;
    }
  }
}

.hint-box .hint-dialog .card.audio {
  $autoplay-height: 22px;
  height: 80px;
  position: relative;

  .section.button {
    height: 80px - $autoplay-height;
    position: relative;
  }

  .section.autoplay {
    cursor: pointer;
    height: $autoplay-height;
  }

  .section.autoplay .check {
    display: none;
    height: $autoplay-height;
    width: $autoplay-height;
    .icon {
      fill: #00c3cc;
    }
    &.on {
      display: inline-block;
    }
    &.off {
      display: none;
    }
  }

  .section.autoplay.on {
    .check.on {
      display: none;
    }
    .check.off {
      display: inline-block;
    }
  }

  .section.autoplay .label {
    color: #859ba0;
    display: inline-block;
    font-size: 14px;
    line-height: $autoplay-height;
    vertical-align: top;
  }

  .button.player {
    @extend %center;
    cursor: pointer;
    height: 36px;
    transition: transform 0.15s ease-in-out;
    width: 36px;
    .icon {
      fill: #008cab;
      height: 100%;
      transition: fill 0.15s ease-in-out;
      width: 100%;
    }
  }

  .button.player.playing {
    transform: rotate(-45deg);
    .icon {
      fill: #05d8bc;
    }
  }
}

.keyboard-box .keyboard-dialog {
  $size: 28px;
  left: auto;
  padding: 6px 2px;
  right: 0px;
  text-align: center;

  .row {
    margin: 4px 0px;
    white-space: nowrap;
  }

  .row li {
    @extend %no-select;
    display: inline-block;
    height: $size - 4px;
    margin: 0px 1px;
    padding: 0px 2px 2px 0px;
    transition: padding 0.1s ease-in-out;
    vertical-align: bottom;
    width: $size - 4px;
    & > span {
      border: solid 1px #009bb4;
      border-radius: 4px;
      box-shadow: 2px 2px 0px rgba(0, 155, 180, 0.7);
      color: #1b7184;
      cursor: pointer;
      display: inline-block;
      height: 100%;
      transition: box-shadow 0.07s ease-in-out;
      width: 100%;
    }

    &:active {
      padding: 2px 0px 0px 2px;
      & > span {
        box-shadow: 0px 0px 0px rgba(0, 155, 180, 0.7);
      }
    }
  }

  .row li.special {
    & > span {
      border-color: #636363;
      box-shadow: 2px 2px 0px rgba(99, 99, 99, 0.7);
      color: #636363;
    }
    &:active > span {
      box-shadow: 0px 0px 0px rgba(99, 99, 99, 0.7);
    }
  }

  @media (min-width: 360px) {
    padding: 12px;
    .row li {
      margin: 0px 2px;
    }
  }

  @media (min-width: 400px) {
    padding: 12px;
    .row li {
      height: $size;
      margin: 0px 2px;
      width: $size;
    }
  }
}
