@import "./../../../styles/responsive";

$grid-hide-point: 443px;

@keyframes resolved {
  0% {
    font-size: 18px;
  }

  100% {
    font-size: 28px;
    color: #a8f5f5;
  }
}

@keyframes flag {
  0% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(-30deg);
  }
}

.game-container>.crossword {
  height: 100%;
  width: 100%;
}

.game-container>.crossword>.navigation-panel {
  text-align: left;
  z-index: 1;
}

.game-container>.crossword .navigation-panel .controls * {
  color: #2fe0e0;
}

.game-container>.crossword>.navigation-panel .controls.navigation .toggle-menu {
  display: none;
}

.dialog-box .game-container>.crossword .navigation-panel {
  &[data-page="config"] {

    .controls.switches,
    .controls.info,
    .controls.control {
      display: none;
    }
  }

  &[data-page="crossword"] {
    @media (max-width: $grid-hide-point) {

      .toggle-menu {
        display: inline-block;
      }

      .controls.pages,
      .controls.switches,
      .controls.info,
      .controls.control {
        margin: 0px;
        height: 34px;
        display: inline-block;
      }
    }
  }
}

.game-container>.crossword>.navigation-panel .controls {

  &.pages,
  &.switches,
  &.info,
  &.control {
    height: 100%;
    margin: 0px 6px;
  }
}

.game-container>.crossword>.navigation-panel .controls.switches {
  .button-star {
    margin-right: 0px;

    &,
    &>.icon {
      cursor: grab;
    }
  }

  .count-container {
    margin: 0px;
    cursor: default;
    font-size: 16px;
    vertical-align: top;
    width: 22px;
  }

  .cursor-star {
    display: none;
    height: 22px;
    opacity: 0;
    position: fixed;
    transform: rotate(45deg);
    transition-duration: 0.25s, 0.25s, 0.3s, 0.3s;
    transition-property: opacity, transform, width, height;
    transition-timing-function: ease-in-out, ease-in-out,
      cubic-bezier(1, 0.01, 0.04, 2), cubic-bezier(1, 0.01, 0.04, 2);
    width: 22px;
    z-index: 4;

    &.visible {
      opacity: 1;
      transform: rotate(0deg);
    }

    &.displayed {
      display: block;
    }

    .icon {
      fill: #868686;
      stroke: #868686;
      transition-duration: 0.1s, 0.1s;
      transition-property: fill, stroke;
      transition-timing-function: ease-in-out, ease-in-out;
    }

    &.allowed {
      height: 36px;
      width: 36px;

      .icon {
        fill: #01b9b9;
        stroke: #01b9b9;
      }
    }
  }
}

.game-container>.crossword>.navigation-panel .controls.info {
  vertical-align: top;

  li {
    color: #01b9b9;
    cursor: default;
    font-size: 16px;
    vertical-align: middle;
    width: auto;
  }
}

.game-container>.crossword>.navigation-panel .controls.info .output {
  color: #2fe0e0;
  font-size: 18px;
  text-align: left;
  width: 22px;

  &.score {
    text-align: right;
  }

  &.resolved {
    animation-duration: 0.2s;
    animation-direction: alternate;
    animation-iteration-count: 6;
    animation-name: resolved;
    animation-timing-function: ease-in-out;
  }

  &.total.resolved {
    animation-delay: 0.2s;
    animation-iteration-count: 10;
  }
}

.game-container>.crossword>.navigation-panel .controls.control {
  .icon {
    animation-direction: alternate;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
    animation-name: flag;
    transform-origin: 20% 80%;
    animation-play-state: paused;
    animation-timing-function: ease-in-out;
  }

  &>li:hover .icon {
    animation-play-state: running;
  }
}

.game-container>.crossword>.navigation-panel .controls {

  &.pages,
  &.switches,
  &.control {
    display: inline-block;

    &>li {
      width: 26px;
    }
  }

  &.switches {
    margin-left: 12px;
  }

  &.info {
    display: inline-block;
    margin-left: 0px;
  }

  &.info li {
    line-height: $grid-nav-small;
  }

  &.control {
    margin-left: 0px;
  }

  @media (min-width: $grid-small) and (min-height: $grid-small) {

    &.info li {
      line-height: $grid-nav-medium;
    }
  }

  @media (min-width: $grid-medium) and (min-height: $grid-medium) {

    &.pages,
    &.switches,
    &.control {
      &>li {
        width: 30px;
      }
    }

    &.switches {
      margin-left: 22px;
    }

    &.info li {
      line-height: $grid-nav-large;
    }
  }
}

.game-container>.crossword>.game-pages {
  height: 100%;
  position: relative;
  z-index: 0;

  &>li {
    display: block;
    height: 100%;
  }

  &>li.hidden {
    display: none;
  }
}