@import "./../../../styles/rules";
@import "./../../../styles/responsive";

.presentation {
  @extend %scrollbar;
  height: 100%;
}

.scrollable {
  @extend %scrollbar;
  height: 100%;
  overflow: auto;
  width: 100%;
}

.game-container .navigation-panel {
  overflow: visible;
}

.game-container .presentation .controls.game {
  padding: 0px 12px;
  width: 100%;
  & > ul {
    display: block;
    width: 100%;
  }
  & > ul > li {
    margin: 0px;
  }
}

.game-container .presentation .controls.game .search {
  float: left;
  padding: 0px 2px;
  width: 60%;

  & > div {
    height: 100%;
    position: relative;
  }

  .search-box {
    @extend %vertical-center;
    border: solid 1px #01b9b9;
    color: #39f3f3;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    height: 26px;
    left: 0px;
    padding: 2px;
    padding-right: 24px;
    transition-property: background-color, color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    width: 100%;
  }

  .search-box:focus {
    background-color: white;
    color: #01b9b9;
  }

  .icon-box {
    @extend %vertical-center;
    height: 26px;
    pointer-events: none;
    right: 3px;
    width: 18px;
  }

  @media (min-width: $grid-small) and (min-height: $grid-small) {
    padding: 0px 4px;
    width: 220px;
    .search-box {
      font-size: 17px;
      height: 30px;
      padding-right: 28px;
    }
    .icon-box {
      height: 30px;
      width: 22px;
    }
  }

  @media (min-width: $grid-medium) and (min-height: $grid-medium) {
    padding: 0px 6px;
    width: 280px;
    .search-box {
      font-size: 18px;
      height: 36px;
      padding-right: 30px;
    }
    .icon-box {
      height: 36px;
      width: 24px;
    }
  }
}

.game-container .presentation .controls.game .select {
  float: left;
  padding: 0px 2px;
  width: 40%;

  & > div {
    height: 100%;
    position: relative;
  }

  .select-box {
    @extend %vertical-center;
    border: solid 1px #01b9b9;
    cursor: pointer;
    height: 26px;
    left: 0px;
    padding: 2px;
    padding-right: 18px;
    width: 100%;
  }

  .header .text-box {
    color: #39f3f3;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 20px;
    overflow: hidden;
    padding: 0px 4px;
    text-overflow: ellipsis;
    width: 100%;
  }

  .header .icon-box {
    @extend %vertical-center;
    height: 26px;
    right: 3px;
    width: 12px;
  }

  .list-box {
    max-width: 220px;
    position: fixed;
    z-index: 1;
  }

  .list {
    background-color: white;
    border-radius: 6px;
    box-shadow: 2px 2px 5px 2px rgba(80, 80, 80, 0.5);
    display: none;
    max-width: 240px;
    min-width: 160px;
    opacity: 0;
    padding: 6px 4px;
    position: relative;
    top: -6px;
    transition-duration: 0.15s;
    transition-property: top, opacity;
    transition-timing-function: ease-in-out;
  }

  .list-box.displayed .list {
    display: block;
  }

  .list-box.visible .list {
    opacity: 1;
    top: 0px;
  }

  .list > li {
    border-bottom: solid 1px #dcdcdc;
    margin: 0px 0px;
    padding: 2px 0px;
    padding-right: 44px;
    position: relative;
  }

  .list .text-box {
    color: #01b9b9;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  .list .switch-button {
    @extend %vertical-center;
    position: absolute;
    right: 0px;
  }

  @media (min-width: $grid-small) and (min-height: $grid-small) {
    padding: 0px 4px;
    width: 142px;

    .select-box {
      height: 30px;
      padding-right: 24px;
    }

    .header .text-box {
      font-size: 17px;
      line-height: 24px;
    }

    .header .icon-box {
      height: 30px;
      width: 14px;
    }
  }

  @media (min-width: $grid-medium) and (min-height: $grid-medium) {
    padding: 0px 6px;

    .select-box {
      height: 36px;
    }

    .header .text-box {
      font-size: 18px;
      line-height: 30px;
    }

    .header .icon-box {
      height: 30px;
      width: 14px;
    }

    .list > li {
      margin: 6px 0px;
      padding: 4px 0px;
    }
  }
}

.game-container .presentation .navigation-table {
  box-shadow: 0px -4px 8px 8px rgba(44, 44, 44, 0.5);
  line-height: 0;
  min-width: 580px;
  text-align: center;
}

.game-container .presentation .navigation-table .controls.pages {
  display: inline-block;
  height: 100%;
  margin: 0px;

  .page-buttons {
    margin: 0px 2px;
  }

  li {
    float: left;
    height: 100%;
    margin: 0px 1px;
    vertical-align: top;
  }

  @media (min-width: $grid-medium) and (min-height: $grid-medium) {
    margin: 0px 8px;
    .page-buttons {
      margin: 0px 8px;
    }
  }

  @media (min-width: $grid-medium) and (min-height: $grid-medium) {
    li {
      margin: 0px 2px;
    }
  }
}

.game-container .presentation .navigation-table .controls.pages .go-page {
  height: 26px;
  margin: 2px;
  position: relative;
  width: 86px;

  .go-page-box {
    @extend %vertical-center;
    height: 26px;
    padding-right: 32px;
    width: 100%;
  }

  input {
    @include placeholder(#d3d3d3);
    border: solid 1px #01b9b9;
    border-radius: 2px 0px 0px 2px;
    color: #00abbe;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    height: 100%;
    left: 0px;
    padding: 2px;
    padding-left: 4px;
    width: 100%;
  }

  button.setting-button {
    @extend %vertical-center;
    position: absolute;
    right: 2px;
    min-width: 32px;
  }

  @media (min-width: $grid-small) and (min-height: $grid-small) {
    margin: 2px 12px;
  }

  @media (min-width: $grid-medium) and (min-height: $grid-medium) {
    height: 44px;
    margin: 0px 12px;
    width: 120px;

    .go-page-box {
      height: 32px;
    }

    input {
      font-size: 18px;
    }
  }
}

.game-container .presentation .navigation-table .controls.rows {
  display: inline-block;
  height: 100%;
  margin: 0px 8px;

  & > li {
    float: left;
    height: 100%;
    margin: 0px 1px;
    vertical-align: top;
  }

  @media (min-width: $grid-medium) and (min-height: $grid-medium) {
    li {
      margin: 0px 2px;
    }
  }
}

.game-container .presentation button.setting-button {
  height: 26px;
  margin: 2px 0px;

  &.value {
    min-width: 26px;
    & > span,
    & > ul {
      padding: 0px 4px;
      padding-bottom: 4px;
      font-size: 18px;
      line-height: 20px;
    }
  }

  &.navig {
    width: 26px;
    & > span,
    & > ul {
      padding: 0px;
      padding-bottom: 4px;
    }
  }

  & > span .icon,
  & > ul .icon {
    height: 20px;
    width: 24px;
  }

  @media (min-width: $grid-medium) and (min-height: $grid-medium) {
    height: 32px;
    margin: 6px 0px;
    &.value {
      min-width: 32px;
      & > span,
      & > ul {
        font-size: 20px;
        line-height: 24px;
      }
    }

    &.navig {
      width: 32px;
    }

    & > span .icon,
    & > ul .icon {
      height: 22px;
      width: 30px;
    }
  }
}

.game-container .presentation .table-box {
  margin-bottom: 30px;
  min-width: 580px;
  padding: 12px 0px;

  @media (min-width: $grid-medium) and (min-height: $grid-medium) {
    margin-bottom: 38px;
    padding: 12px;
  }
}

.game-container .presentation .table-box > table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  thead .header {
    display: inline-block;
    font-family: Raleway;
    font-size: 16px;
    font-variant: small-caps;
    font-weight: normal;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  th.head {
    height: 42px;
    position: relative;
    &.word {
      padding-right: 132px;
    }
    &.translation {
      padding-right: 40px;
    }
    &.word-type {
      padding-right: 40px;
      width: 78px;
    }
    &.repetitions {
      padding-right: 40px;
      width: 78px;
    }
    &.find {
      width: 48px;
    }
    .button-set {
      @extend %vertical-center;
      height: 32px;
      position: absolute;
      right: 4px;
    }
  }

  th,
  td {
    overflow: hidden;
  }

  th {
    border-bottom: solid 1px #b3b3b3;
  }

  tr:not(:last-child) > td {
    border-bottom: solid 1px #d6d6d6;
  }

  th:not(:last-child),
  td:not(:last-child) {
    border-right: solid 1px #b3b3b3;
  }

  tbody > tr:nth-child(odd) {
    background-color: #f8f8f8;
  }

  thead > tr,
  tbody > tr:nth-child(even) {
    background-color: white;
  }

  .setting-button {
    height: 28px;
    margin: 0px;
    width: 28px;

    .icon {
      height: 20px;
      width: 26px;
    }

    [data-sort],
    [data-side] {
      display: none;
    }

    &.az [data-sort="az"],
    &.za [data-sort="za"],
    &.asc [data-sort="asc"],
    &.desc [data-sort="desc"],
    &.random [data-sort="random"],
    &.left [data-side="left"],
    &.center [data-side="center"],
    &.right [data-side="right"] {
      display: block;
    }
  }

  &.left td.word > p {
    text-align: left;
  }
  &.center td.word > p {
    text-align: center;
  }
  &.right td.word > p {
    text-align: right;
  }

  @media (min-width: $grid-medium) and (min-height: $grid-medium) {
    thead .header {
      font-size: 18px;
    }

    th.head {
      height: 42px;

      &.word-type {
        width: 100px;
      }

      &.repetitions {
        width: 100px;
      }

      &.find {
        width: 52px;
      }
    }
  }
}

.game-container .presentation .table-box > table {
  td.word {
    p {
      font-family: "Raleway", sans-serif;
      font-size: 15px;
      padding: 6px;
      text-align: right;

      [data-pronoun] {
        color: #748682;
        font-size: 15px;
        font-style: italic;
        margin: 0px 4px;
      }

      & [data-explanation] {
        color: #039089;
        display: inline-block;
        font-size: 14px;
        font-style: italic;
        margin: 0px 4px;
      }
    }
  }

  td.translation {
    ul {
      padding: 6px 0px;
    }

    li {
      display: table;
      font-family: "Raleway", sans-serif;
      font-size: 15px;
      margin: 3px 6px;
      padding: 2px 8px;
    }

    & [data-pronoun] {
      color: #748682;
      display: inline-block;
      font-size: 15px;
      font-style: italic;
      margin: 0px 4px;
    }

    & [data-explanation] {
      color: #039089;
      display: inline-block;
      font-size: 14px;
      font-style: italic;
      margin: 0px 4px;
    }
  }

  td.type {
    p {
      color: #9b9b9b;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-style: italic;
      overflow: hidden;
      padding: 6px;
      text-align: center;
      text-overflow: ellipsis;
    }
  }

  td.repetition {
    p {
      color: #039089;
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      padding: 6px;
      text-align: center;
      text-overflow: ellipsis;
    }
  }

  td.find > span {
    display: block;
    position: relative;
    width: 100%;

    .icon {
      @extend %center;
      cursor: pointer;
      fill: #00c3cc;
      height: 24px;
      stroke: #00c3cc;
      transition-duration: 0.2s;
      transition-property: width, height;
      transition-timing-function: cubic-bezier(0.75, -0.15, 0, 2);
      width: 24px;
    }

    .icon:hover {
      height: 32px;
      width: 32px;
    }
  }

  &.hide-word {
    td.word > p {
      visibility: hidden;
    }
    td.word:hover > p {
      visibility: visible;
    }
  }

  &.hide-translation {
    td.translation > ul {
      visibility: hidden;
    }
    td.translation:hover > ul {
      visibility: visible;
    }
  }

  @media (min-width: $grid-medium) and (min-height: $grid-medium) {
    td.word {
      p {
        font-size: 17px;
      }
    }

    td.translation {
      li {
        font-size: 17px;
      }
    }
  }
}

.page-top {
  bottom: 12px;
  display: none;
  height: 38px;
  opacity: 0;
  position: absolute;
  right: 26px;
  transition: opacity 0.15s ease-in-out;
  width: 38px;
  z-index: 7;

  &.displayed {
    display: block;
  }

  &.visible {
    opacity: 1;
  }

  & > div {
    @extend %hint-button;
    height: 0px;
    padding: 6px;
    width: 0px;
  }

  &.visible > div {
    height: 100%;
    width: 100%;
  }

  &.visible:hover > div {
    background-color: #00d8d9;
    height: 48px;
    padding: 8px;
    width: 48px;
  }

  .icon {
    display: block;
    fill: white;
    height: 100%;
    width: 100%;
  }
}
