@import "./../../styles/rules";

button.setting-button {
  background-color: white;
  border: solid 1px #00abbe;
  border-radius: 2px;
  box-shadow: 1px 1px 3px rgba(155, 155, 155, 0.5);
  cursor: pointer;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-variant: small-caps;
  margin: 6px 0px;
  outline: none;
  overflow: hidden;
  transition-property: border, box-shadow;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;

  ul,
  span {
    border-bottom: solid 4px #00abbe;
    bottom: -4px;
    color: #00abbe;
    display: block;
    height: 100%;
    padding: 4px 12px;
    position: relative;
    transition-property: color, bottom;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
  }

  span .icon,
  ul .icon {
    fill: #00abbe;
    stroke: #00abbe;
  }

  &.disabled {
    border: solid 1px #c9caca;
    cursor: not-allowed;
    span,
    ul {
      color: #c9caca;
    }
  }

  &:not(.disabled):hover {
    box-shadow: 0px 0px 3px #00abbe;
  }

  &:not(.disabled):hover,
  &:not(.disabled).on {
    border: solid 1px #00b8b8;
    span,
    ul {
      bottom: 0px;
      color: #00b8b8;
    }
  }
}

button.switch-button {
  background: linear-gradient(to bottom, #00a8bc, #0095b1);
  border: solid 2px #00abbe;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin: 0px 4px;
  outline: 0px;
  position: relative;
  width: 40px;
  & > span {
    @extend %vertical-center;
    background-color: #008cab;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 0px rgba(88, 88, 88, 0.6) inset;
    height: 100%;
    left: 20px;
    transition: left 0.15s ease-in-out, background-color 0.15s 0.15s ease-in-out;
    width: 16px;
  }
  &.on > span {
    background-color: white;
    left: 0px;
  }
}
