@import "./../../styles/rules";
@import "./../../styles/responsive";

$dialog-margin: 12px;
$grid-articles-hide-point: 356px;
$grid-youtube-hide-point: 528px;
$grid-pictures-hide-point: 438px;
$grid-controls-width: 98px;

.dialog-box {
  background-color: white;
  display: block;
  height: 100%;
  left: 0px;
  overflow: hidden;
  min-height: 300px;
  padding-top: $grid-nav-small;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2;

  @media (min-width: $grid-small) and (min-height: $grid-small) {
    height: calc(100% - #{$dialog-margin * 2});
    left: $dialog-margin;
    padding-top: $grid-nav-medium;
    position: absolute;
    top: $dialog-margin;
    width: calc(100% - #{$dialog-margin * 2});
  }

  @media (min-width: $grid-medium) and (min-height: $grid-medium) {
    padding-top: $grid-nav-large;
  }
}

.dialog-box .navigation-panel {
  @extend %no-select;
  background: linear-gradient(to bottom, #3394b4, #1b586d);
  font-family: "Open Sans", sans-serif;
  height: $grid-nav-small;
  left: 0px;
  overflow: hidden;
  position: absolute;
  text-align: right;
  top: 0px;
  width: 100%;
  z-index: 3;

  @media (min-width: $grid-small) and (min-height: $grid-small) {
    height: $grid-nav-medium;
  }

  @media (min-width: $grid-medium) and (min-height: $grid-medium) {
    height: $grid-nav-large;
  }
}

.dialog-box .navigation-panel.opened {
  height: auto;
}

.dialog-box .navigation-panel .controls {
  &>ul {
    height: 100%;
    white-space: nowrap;
    display: inline-block;
  }

  &.game,
  &.pictures,
  &.text,
  &.font {
    height: 100%;
  }

  &.game {
    float: left;
  }

  &.pictures,
  &.text,
  &.font {
    display: none;

    &.displayed {
      display: inline-block;
    }
  }

  &.navigation {
    float: right;
    height: $grid-nav-small;
    margin: 0px 4px;
    text-align: center;

    .close {
      display: inline-block;
      width: 16px;
    }

    @media (min-width: $grid-small) and (min-height: $grid-small) {
      height: $grid-nav-medium;
      margin: 0px 6px;

      .close {
        width: 18px;
      }
    }

    @media (min-width: $grid-medium) and (min-height: $grid-medium) {
      height: $grid-nav-large;
      margin: 0px 8px;

      .close {
        width: 20px;
      }
    }
  }

  &.navigation .toggle-menu {
    @include menu-button($dots: 3,
      $time: 0.1s,
      $delay: 0.03s,
      $width: 60px,
      $height: 100%,
      $diameter: 8px,
      $hover-diameter: 14px,
      $color: #01b9b9,
      $hover-color: #2cd6d6);
    display: none;
    margin: 0px 4px;

    &>div {
      float: left;
    }
  }
}

.dialog-box .navigation-panel .controls>ul>li,
.dialog-box .navigation-panel .controls>li {
  display: inline-block;
  height: 100%;
  margin: 0px 2px;
  position: relative;

  &.active .icon {
    fill: #39f3f3 !important;
    stroke: #39f3f3 !important;
  }

  &.disabled {
    cursor: not-allowed;

    .icon {
      cursor: not-allowed;
      fill: #70a3a3;
      stroke: #70a3a3;
    }
  }

  &:not(.disabled):hover {
    cursor: pointer;

    .icon {
      cursor: pointer;
      fill: #2cd6d6;
      stroke: #2cd6d6;
    }
  }
}

.dialog-box .navigation-panel .controls .icon {
  @extend %vertical-center;
  width: 100%;
  left: 0px;
  fill: #01b9b9;
  stroke: #01b9b9;
  transition-property: fill, stroke;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.dialog-box .navigation-panel .controls.font .font-select .selector {
  @extend %vertical-center;
  color: #39f3f3;
  height: 100%;
  left: 0px;
  outline-width: 0px;
  padding: 2px;
  width: 100%;

  .header-content {
    text-align: left;
  }
}

.dialog-box>.navigation-panel .controls {

  &.text,
  &.font,
  &.pictures,
  &.game {
    padding: 0px 4px;
  }

  &.pictures>ul>li,
  &.game>ul>li {
    width: 26px;
  }

  &.text>ul>li,
  &.font>ul>li {
    width: 20px;
  }

  &.font .font-select {
    width: 100px;

    .selector {
      font-size: 16px;
      height: 26px;
    }
  }

  &.font .font-size-button {
    &.text-small {
      width: 14px;

      .icon {
        padding-top: 10px;
        height: 24px;
      }
    }

    &.text-medium {
      width: 18px;

      .icon {
        padding-top: 6px;
        height: 24px;
      }
    }

    &.text-big {
      width: 22px;

      .icon {
        height: 22px;
      }
    }
  }

  &.pictures.info {
    vertical-align: top;
  }

  &.pictures.info .content {
    li {
      color: #01b9b9;
      cursor: default !important;
      font-size: 16px;
      line-height: $grid-nav-small;
      margin: 0px;
      vertical-align: middle;
      width: auto;
    }

    .output {
      color: #2fe0e0;
      font-size: 18px;
      text-align: left;
      width: 22px;

      &.score {
        text-align: right;
      }
    }
  }

  @media (min-width: $grid-small) and (min-height: $grid-small) {

    &.text,
    &.font,
    &.game {
      padding: 0px 8px;
    }

    &.pictures {
      padding: 0px 4px;
    }

    &.text>ul>li,
    &.font>ul>li {
      width: 22px;
    }

    &.font .font-select {
      width: 120px;

      .selector {
        font-size: 18px;
        height: 28px;
      }
    }

    &.pictures.info .content li {
      line-height: $grid-nav-medium;
    }
  }

  @media (min-width: $grid-medium) and (min-height: $grid-medium) {

    &.text,
    &.font,
    &.pictures,
    &.game {
      padding: 0px 12px;
    }

    &.pictures {
      padding: 0px 6px;
    }

    &.pictures>ul>li,
    &.game>ul>li {
      width: 30px;
    }

    &.text>ul>li,
    &.font>ul>li {
      width: 24px;
    }

    &.font .font-select {
      width: 140px;

      .selector {
        height: 36px;
      }
    }

    &.font .font-size-button {
      &.text-small {
        width: 14px;

        .icon {
          padding-top: 14px;
          height: 28px;
        }
      }

      &.text-medium {
        width: 22px;

        .icon {
          padding-top: 6px;
          height: 28px;
        }
      }

      &.text-big {
        width: 28px;

        .icon {
          height: 28px;
        }
      }
    }

    &.pictures.info .content li {
      line-height: $grid-nav-large;
    }
  }
}

.dialog-box[data-dialog="articles"] {
  @media (max-width: $grid-articles-hide-point) {
    &>.navigation-panel .controls {

      &.navigation {
        height: $grid-nav-small;
      }

      &.game,
      &.text,
      &.font {
        height: $grid-nav-small;
        float: left;
      }

      &.navigation .toggle-menu {
        display: inline-block;
      }
    }

    &>.navigation-panel:not(.opened) .selector .options {
      display: none !important;
    }

  }
}

.dialog-box[data-dialog="sentences"],
.dialog-box[data-dialog="youtube"],
.dialog-box[data-dialog="podcasts"] {

  @media (max-width: $grid-youtube-hide-point) and (min-height: 480px),
  (max-width: 444px) and (max-height: 479px) {
    &>.navigation-panel .controls {
      &.navigation .toggle-menu {
        display: inline-block;
      }

      &.navigation {
        height: $grid-nav-small;
      }

      &.game,
      &.text,
      &.font {
        height: $grid-nav-small;
        float: left;
      }

      @media (min-width: $grid-small) {

        &.game,
        &.navigation,
        &.text,
        &.font {
          height: $grid-nav-medium;
        }
      }
    }

    &>.navigation-panel:not(.opened) .selector .options {
      display: none !important;
    }
  }
}

.dialog-box[data-dialog="pictures"] {
  @media (max-width: $grid-pictures-hide-point) {
    &>.navigation-panel .controls {
      &.pictures>ul {
        display: block;
      }

      &.pictures {
        float: left;
      }

      &.navigation .toggle-menu {
        display: inline-block;
      }

      &.game,
      &.pictures>ul {
        height: $grid-nav-small;
      }

    }
  }
}

.dialog-box .content-container {
  height: 100%;
  position: relative;
  z-index: 2;
}

p,
h2 {
  .dialog-box .content-container[data-align="left"] & {
    text-align: left;
  }

  .dialog-box .content-container[data-align="center"] & {
    text-align: center;
  }
}

.dialog-box .content-container[data-size="md-small"] {

  ol>li,
  dt,
  p {
    font-size: 16px;
  }

  dd {
    font-size: 14px;
  }

  h2 {
    font-size: 20px;
  }
}

.dialog-box .content-container[data-size="md-medium"] {

  ol>li,
  dt,
  p {
    font-size: 19px;
  }

  dd {
    font-size: 17px;
  }

  h2 {
    font-size: 23px;
  }
}

.dialog-box .content-container[data-size="md-big"] {

  ol>li,
  dt,
  p {
    font-size: 22px;
  }

  dd {
    font-size: 20px;
  }

  h2 {
    font-size: 26px;
  }
}

.subtitles-container {
  .dialog-box .content-container[data-spy="true"] & {
    overflow-y: hidden;
  }
}

[data-word] {
  cursor: pointer;
  padding: 0px 3px;
}

.dialog-box .content-container.color-text {

  &:not(.color-local) .text-content.sentences-content [data-word],
  & .text-content:not(.sentences-content) [data-word] {
    border-radius: 4px;
    color: #347b85;
    text-shadow: 0px 0px 0px rgba(1, 185, 185, 0.5);
    transition: box-shadow .1s ease-in-out, color .15s ease-in-out, text-shadow .15s ease-in-out, background-color .15s ease-in-out;

    &:hover {
      color: #1581ac;
      text-shadow: 1px 1px 3px rgba(12, 214, 214, 0.6);
    }

    &.active {
      background-color: #00bac7;
      color: white;

      [data-key] {
        fill: white;
      }
    }
  }
}

[data-dialogue] {
  display: inline-block;
  vertical-align: top;

  &>li {
    &>h1 {
      margin-bottom: 0px !important;
    }

    &>p {
      text-indent: 0px !important;
    }
  }

  &>li>h1 {
    color: grey;
    font-family: Roboto;
    font-size: 1em;
    font-weight: normal;
  }

  &>li {
    white-space: nowrap;

    &>h1 {
      display: inline-block;
      vertical-align: top;
    }

    &>p {
      display: inline-block;
      vertical-align: top;
      white-space: normal;
    }
  }
}