@import "./../../../styles/rules";

.dialog-box[data-dialog="articles"] .content-container .article-scroll {
  @extend %scrollbar;
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
  position: relative;
  width: 100%;
}

.dialog-box .content-container .article-content {

  h1,
  h2,
  ol>li,
  p {
    text-align: justify;
  }

  h1 {
    margin-bottom: 16px;
  }

  h2 {
    margin-top: 12px;
    margin-bottom: 6px;
  }

  p {
    text-indent: 1em;
  }

  ol>li {
    list-style-type: decimal;
    margin: 12px 4px;
  }
}